Repository ywatanabe1989/scitex-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

no-hardcoded-passwords:
  name: Check for hardcoded passwords
  entry: (?i)(password|passwd|pwd)\s*=\s*["'][^"']+["']
  language: pygrep

no-todos-in-commits:
  name: Check for TODO comments
  entry: (?i)(TODO|FIXME|XXX|HACK)
  language: pygrep
  stages:
  - commit

pytest-changed:
  name: Run tests for changed files
  entry: ./scripts/maintenance/test.sh --changed -x -q
  language: system
  pass_filenames: false
  stages:
  - commit

feat(mcp): Integrate job tools into MCP servers
  src/scitex/mcp_server.py
  src/scitex/scholar/_mcp/all_handlers.py
  src/scitex/scholar/_mcp/tool_schemas.py
  src/scitex/scholar/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(cli/scholar): Rewrite tests for new unified fetch API
  tests/scitex/cli/test_scholar.py
Due: no-todos-in-commits, pytest-changed

test(scholar/config): Add comprehensive tests for config and auth modules
  tests/scitex/scholar/auth/test_ScholarAuthManager.py
  tests/scitex/scholar/config/core/test__CascadeConfig.py
  tests/scitex/scholar/config/core/test__PathManager.py
  tests/scitex/scholar/config/test_ScholarConfig.py
  tests/scitex/scholar/test_mcp_server.py
Due: no-todos-in-commits, pytest-changed

test(scholar): Add tests for job management and MCP handlers
  tests/scitex/scholar/_mcp/test_job_handlers.py
  tests/scitex/scholar/_mcp/test_job_tool_schemas.py
  tests/scitex/scholar/jobs/__init__.py
  tests/scitex/scholar/jobs/test_Job.py
  tests/scitex/scholar/jobs/test_JobManager.py
Due: no-todos-in-commits, pytest-changed

fix(tests): Fix 3 test collection errors
  tests/scitex/dev/test__analyze_code_flow.py
  tests/scitex/utils/test__verify_scitex_format_v01.py
  tests/test_screenshot_capturer.py
Due: no-todos-in-commits, pytest-changed

fix(ci): Fix coverage file paths in workflows
  .github/workflows/logging-coverage.yml
  .github/workflows/stats-coverage.yml
Due: none

test(browser): Add comprehensive tests for browser and config modules
  tests/scitex/browser/auth/test_google.py
  tests/scitex/browser/automation/test_CookieHandler.py
  tests/scitex/browser/core/test_ChromeProfileManager.py
  tests/scitex/browser/debugging/test__browser_logger.py
  tests/scitex/scholar/browser/test_ScholarBrowserManager.py
  tests/scitex/scholar/config/test_PublisherRules.py
Due: no-todos-in-commits, pytest-changed

feat(capture): Add _mcp subpackage for unified MCP server integration
  src/scitex/capture/_mcp/__init__.py
  src/scitex/capture/_mcp/handlers.py
  src/scitex/capture/_mcp/tool_schemas.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(mcp): Add unified _mcp_tools subpackage with all module wrappers
  src/scitex/_mcp_tools/__init__.py
  src/scitex/_mcp_tools/audio.py
  src/scitex/_mcp_tools/canvas.py
  src/scitex/_mcp_tools/capture.py
  src/scitex/_mcp_tools/diagram.py
  src/scitex/_mcp_tools/plt.py
  src/scitex/_mcp_tools/scholar.py
  src/scitex/_mcp_tools/stats.py
  src/scitex/_mcp_tools/template.py
  src/scitex/_mcp_tools/ui.py
  src/scitex/_mcp_tools/writer.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(mcp): Consolidate unified MCP server entry point
  src/scitex/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(audio): Fix handler imports and add missing handlers
  src/scitex/audio/README.md
  src/scitex/audio/__init__.py
  src/scitex/audio/__main__.py
  src/scitex/audio/_mcp/handlers.py
  src/scitex/audio/mcp_server.py
  src/scitex/cli/audio.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(mcp): Remove legacy module-specific MCP files
  src/scitex/capture/mcp_handlers.py
  src/scitex/capture/mcp_tool_defs.py
  src/scitex/capture/mcp_tools.py
  src/scitex/capture/mcp_utils.py
  src/scitex/dev/cv/_mcp/__init__.py
  src/scitex/dev/cv/_mcp/handlers.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(tests): Rename MCP tests to module-prefixed convention
  tests/scitex/audio/_mcp/test_audio_handlers.py
  tests/scitex/audio/_mcp/test_audio_tool_schemas.py
  tests/scitex/audio/test_mcp_server.py
  tests/scitex/canvas/_mcp/test_canvas_handlers.py
  tests/scitex/canvas/_mcp/test_canvas_tool_schemas.py
  tests/scitex/canvas/test_mcp_server.py
  tests/scitex/capture/_mcp/test_capture_handlers.py
  tests/scitex/capture/test_mcp_handlers.py
  tests/scitex/capture/test_mcp_server.py
  tests/scitex/capture/test_mcp_tool_defs.py
  tests/scitex/capture/test_mcp_tools.py
  tests/scitex/capture/test_mcp_utils.py
  tests/scitex/diagram/_mcp/test_diagram_handlers.py
  tests/scitex/diagram/_mcp/test_diagram_tool_schemas.py
  tests/scitex/diagram/test_mcp_server.py
  tests/scitex/plt/_mcp/test_plt__handlers_annotation.py
  tests/scitex/plt/_mcp/test_plt__handlers_figure.py
  tests/scitex/plt/_mcp/test_plt__handlers_plot.py
  tests/scitex/plt/_mcp/test_plt__handlers_style.py
  tests/scitex/plt/_mcp/test_plt_handlers.py
  tests/scitex/plt/_mcp/test_plt_tool_schemas.py
  tests/scitex/plt/test_mcp_server.py
  tests/scitex/scholar/_mcp/test_scholar_handlers.py
  tests/scitex/scholar/_mcp/test_scholar_job_handlers.py
  tests/scitex/scholar/_mcp/test_scholar_job_tool_schemas.py
  tests/scitex/scholar/_mcp/test_scholar_tool_schemas.py
  tests/scitex/scholar/test_scholar_mcp_server.py
  tests/scitex/stats/_mcp/test_stats_handlers.py
  tests/scitex/stats/_mcp/test_stats_tool_schemas.py
  tests/scitex/stats/test_mcp_server.py
  tests/scitex/template/_mcp/test_template_handlers.py
  tests/scitex/test_mcp_server.py
  tests/scitex/ui/_mcp/test_ui_handlers.py
  tests/scitex/ui/_mcp/test_ui_tool_schemas.py
  tests/scitex/ui/test_mcp_server.py
  tests/scitex/writer/_mcp/test_writer_handlers.py
  tests/scitex/writer/_mcp/test_writer_tool_schemas.py
Due: no-todos-in-commits, pytest-changed

feat(scholar): Expand MCP tools from 5 to 23 tools
  src/scitex/_mcp_tools/scholar.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Add scitex mcp CLI commands
  src/scitex/cli/main.py
  src/scitex/cli/mcp.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(config): Add testmon datafile config and handler fix
  .gitignore
  pyproject.toml
  src/scitex/capture/_mcp/handlers.py
  tests/scitex/audio/test__cross_process_lock.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(audit): Add mcp CLI tests and update gitignore
  .gitignore
  pyproject.toml
  tests/scitex/cli/test_mcp.py
Due: no-todos-in-commits, pytest-changed

chore: Bump version to 2.14.0
  pyproject.toml
Due: none

fix(ci): Remove __version__.py check from release workflow
  .github/workflows/release.yml
Due: none

docs: Add CHANGELOG entry for v2.14.0
  CHANGELOG.md
Due: none

fix(build): Replace symlink with actual file for wheel build
  src/scitex/dev/plt/data/mpl/PLOTTING_SIGNATURES.yaml
Due: none

fix(build): Replace mpl symlinks with actual files, exclude dev symlinks
  pyproject.toml
  src/scitex/dev/plt/data/mpl/PLOTTING_SIGNATURES_DETAILED.yaml
  src/scitex/dev/plt/data/mpl/SIGNATURES_FLATTENED.yaml
  src/scitex/dev/plt/data/mpl/dir_ax.txt
Due: none

docs(scholar): Reorganize docs with numbered prefixes
  src/scitex/scholar/docs/00_SUMMARY.md
  src/scitex/scholar/docs/01_STORAGE_ARCHITECTURE.md
  src/scitex/scholar/docs/02_PIPELINE_ORGANIZATION.md
  src/scitex/scholar/docs/03_PIPELINE_IMPLEMENTATION_PLAN.md
  src/scitex/scholar/docs/04_PIPELINE_IMPLEMENTATION_COMPLETE.md
  src/scitex/scholar/docs/05_DETAILS_FOR_DEVELOPERS.md
  src/scitex/scholar/docs/06_IMPACT_FACTOR_CITATION_INTEGRATION.md
Due: none

feat(cli): Add help-recursive command to all CLI modules
  src/scitex/cli/__init__.py
  src/scitex/cli/audio.py
  src/scitex/cli/capture.py
  src/scitex/cli/repro.py
  src/scitex/cli/resource.py
  src/scitex/cli/scholar/__init__.py
  src/scitex/cli/stats.py
  src/scitex/cli/template.py
  src/scitex/cli/tex.py
  src/scitex/cli/writer.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(compat): Require Python >=3.10 for MCP dependency
  .github/workflows/release.yml
  pyproject.toml
Due: none

fix(ci): Test audio extras instead of all (disk space)
  .github/workflows/release.yml
Due: none

fix(ci): Add stats extras to stats-coverage workflow
  .github/workflows/stats-coverage.yml
Due: none

chore: Bump version to 3.0.0, use pyproject.toml as single source
  pyproject.toml
  src/scitex/_mcp_tools/audio.py
  src/scitex/_mcp_tools/plt.py
  src/scitex/_mcp_tools/writer.py
  src/scitex/ai/_gen_ai/_PARAMS.py
  src/scitex/audio/__init__.py
  src/scitex/audio/_mcp/handlers.py
  src/scitex/audio/engines/elevenlabs_engine.py
  src/scitex/cli/__init__.py
  src/scitex/cli/audio.py
  src/scitex/cli/capture.py
  src/scitex/cli/main.py
  src/scitex/cli/mcp.py
  src/scitex/cli/writer.py
  src/scitex/plt/__init__.py
  src/scitex/plt/_mcp/_handlers_plot.py
  src/scitex/plt/_mcp/_handlers_style.py
  src/scitex/plt/_subplots/_AxisWrapperMixins/_SeabornMixin/_wrappers.py
  src/scitex/template/clone_writer_directory.py
  src/scitex/writer/_mcp/handlers.py
  src/scitex/writer/_mcp/tool_schemas.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(introspect): Add IPython-like introspection module for Python packages
  .github/workflows/test-introspect.yml
  docs/modules/introspect.md
  examples/introspect/01_basic_introspection.py
  examples/introspect/02_module_exploration.py
  examples/introspect/03_advanced_introspection.py
  examples/introspect/04_call_graph_analysis.py
  examples/introspect/05_find_usage_examples.py
  examples/introspect/README.md
  src/scitex/_mcp_tools/__init__.py
  src/scitex/_mcp_tools/introspect.py
  src/scitex/cli/introspect.py
  src/scitex/cli/main.py
  src/scitex/introspect/__init__.py
  src/scitex/introspect/_call_graph.py
  src/scitex/introspect/_class_hierarchy.py
  src/scitex/introspect/_core.py
  src/scitex/introspect/_docstring.py
  src/scitex/introspect/_examples.py
  src/scitex/introspect/_imports.py
  src/scitex/introspect/_mcp/__init__.py
  src/scitex/introspect/_mcp/handlers.py
  src/scitex/introspect/_members.py
  src/scitex/introspect/_resolve.py
  src/scitex/introspect/_signature.py
  src/scitex/introspect/_source.py
  src/scitex/introspect/_type_hints.py
  tests/scitex/introspect/test__call_graph.py
  tests/scitex/introspect/test__class_hierarchy.py
  tests/scitex/introspect/test__docstring.py
  tests/scitex/introspect/test__examples.py
  tests/scitex/introspect/test__imports.py
  tests/scitex/introspect/test__members.py
  tests/scitex/introspect/test__resolve.py
  tests/scitex/introspect/test__signature.py
  tests/scitex/introspect/test__source.py
  tests/scitex/introspect/test__type_hints.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(plt): Add facecolor parameter to plt_compose MCP tool
  src/scitex/_mcp_tools/plt.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Clean project root, move test file to tests/
  tests/test_reproduce.py
Due: no-todos-in-commits, pytest-changed

docs(mcp): Enhance MCP server instructions and add resource documentation
  README.md
  examples/session/README.md
  src/scitex/_mcp_resources/__init__.py
  src/scitex/_mcp_resources/_cheatsheet.py
  src/scitex/_mcp_resources/_figrecipe.py
  src/scitex/_mcp_resources/_formats.py
  src/scitex/_mcp_resources/_modules.py
  src/scitex/_mcp_resources/_session.py
  src/scitex/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(social): Add scitex.social module as thin wrapper for socialia
  src/scitex/__init__.py
  src/scitex/social/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(social): Add tests and examples for scitex.social module
  examples/social/00_run_all.sh
  examples/social/01_check_availability.py
  examples/social/02_twitter_usage.py
  examples/social/03_youtube_analytics.py
  tests/scitex/social/__init__.py
  tests/scitex/social/test_social.py
Due: no-todos-in-commits, pytest-changed

feat(social): Add scitex.social module as thin wrapper for socialia (#111)
  examples/social/00_run_all.sh
  examples/social/01_check_availability.py
  examples/social/02_twitter_usage.py
  examples/social/03_youtube_analytics.py
  src/scitex/__init__.py
  src/scitex/social/__init__.py
  tests/scitex/social/__init__.py
  tests/scitex/social/test_social.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(social): Add CLI wrapper and MCP tools for socialia integration
  src/scitex/_mcp_tools/__init__.py
  src/scitex/_mcp_tools/social.py
  src/scitex/cli/main.py
  src/scitex/cli/social.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(social): Add CLI wrapper and MCP tools for socialia integration (#112)
  src/scitex/_mcp_tools/__init__.py
  src/scitex/_mcp_tools/social.py
  src/scitex/cli/main.py
  src/scitex/cli/social.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(social): Add v0.1.4 CRUD commands (check, feed, me)
  src/scitex/_mcp_tools/social.py
  src/scitex/cli/social.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Path conditions:
  no-hardcoded-passwords: any of: \.py$, but not: ^(tests/|examples/)
  no-todos-in-commits: any of: \.py$, but not: ^(\.old/|src/scitex/\.old/)
  pytest-changed: any of: \.py$
