Repository ywatanabe1989/scitex-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

no-hardcoded-passwords:
  name: Check for hardcoded passwords
  entry: (?i)(password|passwd|pwd)\s*=\s*["'][^"']+["']
  language: pygrep

no-todos-in-commits:
  name: Check for TODO comments
  entry: (?i)(TODO|FIXME|XXX|HACK)
  language: pygrep
  stages:
  - commit

pytest-changed:
  name: Run tests for changed files
  entry: ./scripts/maintenance/test.sh --changed -x -q
  language: system
  pass_filenames: false
  stages:
  - commit

chore: bump version to 2.15.3
  pyproject.toml
Due: none

fix(docs): restore missing EXTERNAL_PACKAGE_BRANDING.md
  docs/guides/EXTERNAL_PACKAGE_BRANDING.md
Due: none

fix(ci): remove environment from PyPI publish job
  .github/workflows/release.yml
Due: none

feat(scholar): expose crossref-local MCP tools
  src/scitex/cli/scholar/__init__.py
  src/scitex/scholar/_mcp/crossref_tool_schemas.py
  src/scitex/scholar/_mcp/tool_schemas.py
  src/scitex/scholar/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat: add MCP server and reorganize internal modules
  docs/05_SCITEX_ECOSYSTEM.md
  src/scitex/cli/scholar/__init__.py
  src/scitex/cli/scholar/_crossref_scitex.py
  src/scitex/cli/scholar/_openalex_scitex.py
  src/scitex/scholar/__init__.py
  src/scitex/scholar/crossref_local
  src/scitex/scholar/crossref_scitex.py
  src/scitex/scholar/local_dbs/__init__.py
  src/scitex/scholar/local_dbs/crossref_scitex.py
  src/scitex/scholar/local_dbs/openalex_scitex.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(mcp): use fastmcp mount() for crossref/openalex delegation
  docs/05_SCITEX_ECOSYSTEM.md
  src/scitex/_mcp_resources/__init__.py
  src/scitex/_mcp_resources/_scholar.py
  src/scitex/_mcp_tools/scholar.py
  src/scitex/canvas/mcp_server.py
  src/scitex/capture/mcp_server.py
  src/scitex/cli/scholar/__init__.py
  src/scitex/cli/scholar/_crossref_scitex.py
  src/scitex/scholar/__init__.py
  src/scitex/scholar/_mcp/openalex_handlers.py
  src/scitex/scholar/_mcp/openalex_tool_schemas.py
  src/scitex/scholar/_mcp/tool_schemas.py
  src/scitex/scholar/mcp_server.py
  src/scitex/stats/mcp_server.py
  src/scitex/template/mcp_server.py
  src/scitex/ui/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: bump version to 2.15.4
  pyproject.toml
Due: none

fix(ci): use workflow_run trigger to wait for PyPI publish
  .github/workflows/test-install-modules.yml
  .github/workflows/test-install.yml
Due: none

deprecate(canvas): delegate to figrecipe for editing and composition
  src/scitex/_mcp_tools/canvas.py
  src/scitex/canvas/__init__.py
  src/scitex/canvas/_legacy.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: bump version to 2.15.5
  pyproject.toml
Due: none

mcp: Update tool references and add deprecation warning filter
  src/scitex/_mcp_tools/canvas.py
  src/scitex/_mcp_tools/plt.py
  src/scitex/cli/main.py
  src/scitex/cli/mcp.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

mcp: Remove duplicate figrecipe mount from canvas.py
  src/scitex/_mcp_tools/canvas.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat: Add dataset module delegation to scitex-dataset
  src/scitex/_mcp_tools/__init__.py
  src/scitex/_mcp_tools/dataset.py
  src/scitex/cli/dataset.py
  src/scitex/dataset/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs: Update MCP config and add scitex-dataset to ecosystem
  README.md
  docs/05_SCITEX_ECOSYSTEM.md
Due: none

refactor(audio): Hide internal engine modules with underscore prefix
  src/scitex/audio/engines/__init__.py
  src/scitex/audio/engines/_base.py
  src/scitex/audio/engines/_elevenlabs_engine.py
  src/scitex/audio/engines/_gtts_engine.py
  src/scitex/audio/engines/_pyttsx3_engine.py
  tests/scitex/audio/engines/test_base.py
  tests/scitex/audio/engines/test_elevenlabs_engine.py
  tests/scitex/audio/engines/test_gtts_engine.py
  tests/scitex/audio/engines/test_pyttsx3_engine.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(audio): Return dict from speak() with playback status
  src/scitex/audio/__init__.py
  src/scitex/audio/_mcp/handlers.py
  src/scitex/audio/engines/_base.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Improve introspect api with verbosity and signatures
  src/scitex/cli/introspect.py
  src/scitex/introspect/_list_api.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Improve mcp list-tools with return signatures
  src/scitex/cli/mcp.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Add list-python-apis command to module CLIs
  src/scitex/cli/audio.py
  src/scitex/cli/capture.py
  src/scitex/cli/plt.py
  src/scitex/cli/stats.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(audio): Update remaining test imports for renamed modules
  tests/scitex/audio/engines/test_elevenlabs_engine.py
  tests/scitex/audio/engines/test_gtts_engine.py
  tests/scitex/audio/engines/test_pyttsx3_engine.py
Due: no-todos-in-commits, pytest-changed

refactor(stats): Minimize public API by hiding internal modules
  src/scitex/bridge/_stats_plt.py
  src/scitex/io/_save_modules/_tex.py
  src/scitex/schema/_stats.py
  src/scitex/stats/__init__.py
  src/scitex/stats/_utils/__init__.py
  src/scitex/stats/_utils/_effect_size.py
  src/scitex/stats/_utils/_formatters.py
  src/scitex/stats/_utils/_normalizers.py
  src/scitex/stats/_utils/_power.py
  src/scitex/stats/auto/__init__.py
  src/scitex/stats/correct/_correct_bonferroni.py
  src/scitex/stats/correct/_correct_fdr.py
  src/scitex/stats/correct/_correct_fdr_.py
  src/scitex/stats/correct/_correct_holm.py
  src/scitex/stats/correct/_correct_sidak.py
  src/scitex/stats/posthoc/_dunnett.py
  src/scitex/stats/posthoc/_games_howell.py
  src/scitex/stats/posthoc/_tukey_hsd.py
  src/scitex/stats/tests/correlation/_test_pearson.py
  tests/scitex/bridge/test__stats_plt.py
  tests/scitex/io/_save_modules/test__tex.py
  tests/scitex/schema/test__stats.py
  tests/scitex/stats/_utils/test__effect_size.py
  tests/scitex/stats/_utils/test__formatters.py
  tests/scitex/stats/_utils/test__normalizers.py
  tests/scitex/stats/_utils/test__power.py
  tests/scitex/stats/correct/test__correct_bonferroni.py
  tests/scitex/stats/correct/test__correct_fdr.py
  tests/scitex/stats/correct/test__correct_fdr_.py
  tests/scitex/stats/correct/test__correct_holm.py
  tests/scitex/stats/correct/test__correct_sidak.py
  tests/scitex/stats/posthoc/test__dunnett.py
  tests/scitex/stats/posthoc/test__games_howell.py
  tests/scitex/stats/posthoc/test__tukey_hsd.py
  tests/scitex/stats/power/test__power.py
  tests/scitex/stats/tests/correlation/test__test_pearson.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(io): Minimize public API by hiding internal modules
  src/scitex/io/__init__.py
  src/scitex/io/_utils/__init__.py
  src/scitex/io/_utils/h5_to_zarr.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

style: Auto-format stats module imports
  src/scitex/schema/_stats.py
  src/scitex/stats/__init__.py
  src/scitex/stats/_utils/__init__.py
  src/scitex/stats/_utils/_effect_size.py
  src/scitex/stats/_utils/_formatters.py
  src/scitex/stats/_utils/_normalizers.py
  src/scitex/stats/_utils/_power.py
  src/scitex/stats/auto/__init__.py
  src/scitex/stats/correct/_correct_bonferroni.py
  src/scitex/stats/correct/_correct_fdr.py
  src/scitex/stats/correct/_correct_fdr_.py
  src/scitex/stats/correct/_correct_holm.py
  src/scitex/stats/correct/_correct_sidak.py
  src/scitex/stats/posthoc/_dunnett.py
  src/scitex/stats/posthoc/_games_howell.py
  src/scitex/stats/posthoc/_tukey_hsd.py
  src/scitex/stats/tests/correlation/_test_pearson.py
  tests/scitex/bridge/test__stats_plt.py
  tests/scitex/io/_save_modules/test__tex.py
  tests/scitex/schema/test__stats.py
  tests/scitex/stats/_utils/test__effect_size.py
  tests/scitex/stats/_utils/test__formatters.py
  tests/scitex/stats/_utils/test__normalizers.py
  tests/scitex/stats/_utils/test__power.py
  tests/scitex/stats/correct/test__correct_bonferroni.py
  tests/scitex/stats/correct/test__correct_fdr.py
  tests/scitex/stats/correct/test__correct_fdr_.py
  tests/scitex/stats/correct/test__correct_holm.py
  tests/scitex/stats/correct/test__correct_sidak.py
  tests/scitex/stats/posthoc/test__dunnett.py
  tests/scitex/stats/posthoc/test__games_howell.py
  tests/scitex/stats/posthoc/test__tukey_hsd.py
  tests/scitex/stats/power/test__power.py
  tests/scitex/stats/tests/correlation/test__test_pearson.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Add list-python-apis command to scholar CLI
  src/scitex/cli/scholar/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(api): Minimize public API in str and capture modules
  examples/scitex/canvas/figz.py
  src/scitex/capture/__init__.py
  src/scitex/str/__init__.py
  tests/scitex/dt/_linspace_source.py
  tests/scitex/utils/_compress_hdf5_source.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(scholar): Minimize API and fix MCP tool listing
  src/scitex/cli/scholar/__init__.py
  src/scitex/scholar/__init__.py
  src/scitex/scholar/_utils/__init__.py
  src/scitex/scholar/_utils/bibtex/__init__.py
  src/scitex/scholar/_utils/bibtex/_parse_bibtex.py
  src/scitex/scholar/_utils/cleanup/__init__.py
  src/scitex/scholar/_utils/cleanup/_cleanup_scholar_processes.py
  src/scitex/scholar/_utils/create_demo_movie.sh
  src/scitex/scholar/_utils/text/_TextNormalizer.py
  src/scitex/scholar/_utils/text/__init__.py
  src/scitex/scholar/_utils/validation/DOIValidator.py
  src/scitex/scholar/_utils/validation/README.md
  src/scitex/scholar/_utils/validation/__init__.py
  src/scitex/scholar/_utils/validation/validate_library_dois.py
  src/scitex/scholar/examples/03_02-engine-for-bibtex.py
  src/scitex/scholar/examples/04_02-url-for-bibtex.py
  src/scitex/scholar/examples/06_parse_bibtex.py
  src/scitex/scholar/examples/99_fullpipeline-for-bibtex.py
  src/scitex/scholar/pipelines/ScholarPipelineMetadataSingle.py
  src/scitex/scholar/storage/_mixins/_paper_saving.py
  src/scitex/scholar/storage/_mixins/_resolution.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Add colored signatures to list-python-apis command
  src/scitex/cli/__init__.py
  src/scitex/cli/introspect.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Add top-level list-python-apis command and fix external module filtering
  src/scitex/cli/main.py
  src/scitex/introspect/_list_api.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(api): Minimize logging module public API and update README
  README.md
  src/scitex/logging/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs(readme): Update API/tool counts and add list commands
  README.md
Due: none

docs(readme): Add environment configuration section
  README.md
Due: none

fix(docs): Fix Read the Docs build configuration
  .readthedocs.yaml
  docs/sphinx/requirements.txt
Due: none

docs(readme): Make standalone packages section collapsible
  README.md
Due: none

docs(readme): Make configuration section collapsible
  README.md
Due: none

refactor(api): Minimize web module public API
  src/scitex/web/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(api): Minimize utils module public API
  src/scitex/utils/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Remove .env.example and fix RTD URL
  .env.example
  README.md
Due: none

chore: bump version to 2.16.0
  pyproject.toml
Due: none

fix(docs): Remove circular autosummary references in API RST files
  docs/sphinx/api/scitex.ai.rst
  docs/sphinx/api/scitex.db.rst
  docs/sphinx/api/scitex.decorators.rst
  docs/sphinx/api/scitex.dict.rst
  docs/sphinx/api/scitex.dsp.rst
  docs/sphinx/api/scitex.gen.rst
  docs/sphinx/api/scitex.io.rst
  docs/sphinx/api/scitex.nn.rst
  docs/sphinx/api/scitex.path.rst
  docs/sphinx/api/scitex.pd.rst
  docs/sphinx/api/scitex.plt.rst
  docs/sphinx/api/scitex.stats.rst
  docs/sphinx/api/scitex.str.rst
Due: none

Path conditions:
  no-hardcoded-passwords: any of: \.py$, but not: ^(tests/|examples/)
  no-todos-in-commits: any of: \.py$, but not: ^(\.old/|src/scitex/\.old/)
  pytest-changed: any of: \.py$
