Repository ywatanabe1989/scitex-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for SciTeX code quality
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Code formatting
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=88]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Linting
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [
          --max-line-length=88,
          --extend-ignore=E203 E266 E501 W503,
          --max-complexity=10,
          --exclude=.old/*
        ]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-r, src/scitex, --skip=B101]
        exclude: ^(tests/|src/scitex/\.old/|\.old/)

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Docstring checking
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=numpy]
        exclude: ^(tests/|src/scitex/\.old/|\.old/|examples/\.old/|setup\.py)

  # YAML/JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-json
        exclude: \.ipynb$
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key

  # Jupyter notebook cleaning
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: [--max-size=5]

  # Shell script checking
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-x]

  # Optional: Local hooks
  - repo: local
    hooks:
      - id: no-hardcoded-passwords
        name: Check for hardcoded passwords
        entry: "(?i)(password|passwd|pwd)\\s*=\\s*[\"'][^\"']+[\"']"
        language: pygrep
        types: [python]
        exclude: ^(tests/|examples/)
      
      - id: no-todos-in-commits
        name: Check for TODO comments
        entry: '(?i)(TODO|FIXME|XXX|HACK)'
        language: pygrep
        types: [python]
        exclude: ^(\.old/|src/scitex/\.old/)
        stages: [commit]

      - id: pytest-changed
        name: Run tests for changed files
        entry: ./scripts/maintenance/test.sh --changed -x -q
        language: system
        pass_filenames: false
        types: [python]
        stages: [commit]

      - id: inhibit-root-pollution
        name: Check for project root pollution
        entry: ./scripts/maintenance/inhibit_project_root_pollution.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]

refactor(plt): Extract _metadata package from _collect_figure_metadata.py
  src/scitex/plt/utils/_metadata/__init__.py
  src/scitex/plt/utils/_metadata/_artists/__init__.py
  src/scitex/plt/utils/_metadata/_artists/_base.py
  src/scitex/plt/utils/_metadata/_artists/_collections.py
  src/scitex/plt/utils/_metadata/_artists/_extract.py
  src/scitex/plt/utils/_metadata/_artists/_images.py
  src/scitex/plt/utils/_metadata/_artists/_lines.py
  src/scitex/plt/utils/_metadata/_artists/_patches.py
  src/scitex/plt/utils/_metadata/_artists/_text.py
  src/scitex/plt/utils/_metadata/_csv.py
  src/scitex/plt/utils/_metadata/_detect.py
  src/scitex/plt/utils/_metadata/_legend.py
  src/scitex/plt/utils/_metadata/_rounding.py
  src/scitex/plt/utils/_metadata/_verification.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(canvas): Extract _dearpygui package from _dearpygui_editor.py
  src/scitex/canvas/editor/_dearpygui/__init__.py
  src/scitex/canvas/editor/_dearpygui/_editor.py
  src/scitex/canvas/editor/_dearpygui/_handlers.py
  src/scitex/canvas/editor/_dearpygui/_panels/__init__.py
  src/scitex/canvas/editor/_dearpygui/_panels/_control.py
  src/scitex/canvas/editor/_dearpygui/_panels/_element_controls.py
  src/scitex/canvas/editor/_dearpygui/_panels/_preview.py
  src/scitex/canvas/editor/_dearpygui/_panels/_sections.py
  src/scitex/canvas/editor/_dearpygui/_plotting.py
  src/scitex/canvas/editor/_dearpygui/_rendering.py
  src/scitex/canvas/editor/_dearpygui/_selection.py
  src/scitex/canvas/editor/_dearpygui/_state.py
  src/scitex/canvas/editor/_dearpygui/_utils.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Refactor Scholar.py (1857 -> 220 lines) using mixin pattern (#99)
  src/scitex/scholar/core/Scholar.py
  src/scitex/scholar/core/_mixins/__init__.py
  src/scitex/scholar/core/_mixins/_enrichers.py
  src/scitex/scholar/core/_mixins/_library_handlers.py
  src/scitex/scholar/core/_mixins/_loaders.py
  src/scitex/scholar/core/_mixins/_pdf_download.py
  src/scitex/scholar/core/_mixins/_pipeline.py
  src/scitex/scholar/core/_mixins/_project_handlers.py
  src/scitex/scholar/core/_mixins/_savers.py
  src/scitex/scholar/core/_mixins/_search.py
  src/scitex/scholar/core/_mixins/_services.py
  src/scitex/scholar/core/_mixins/_url_finding.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Refactor _SingleClassificationReporter.py into mixin pattern (1778 → 220 lines)
  src/scitex/ai/classification/reporters/_SingleClassificationReporter.py
  src/scitex/ai/classification/reporters/_mixins/__init__.py
  src/scitex/ai/classification/reporters/_mixins/_constants.py
  src/scitex/ai/classification/reporters/_mixins/_cv_summary.py
  src/scitex/ai/classification/reporters/_mixins/_feature_importance.py
  src/scitex/ai/classification/reporters/_mixins/_metrics.py
  src/scitex/ai/classification/reporters/_mixins/_plotting.py
  src/scitex/ai/classification/reporters/_mixins/_reports.py
  src/scitex/ai/classification/reporters/_mixins/_storage.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Refactor _LibraryManager.py into mixin pattern (1688 → 127 lines)
  src/scitex/scholar/storage/_LibraryManager.py
  src/scitex/scholar/storage/_mixins/__init__.py
  src/scitex/scholar/storage/_mixins/_bibtex_handlers.py
  src/scitex/scholar/storage/_mixins/_library_operations.py
  src/scitex/scholar/storage/_mixins/_metadata_conversion.py
  src/scitex/scholar/storage/_mixins/_paper_saving.py
  src/scitex/scholar/storage/_mixins/_resolution.py
  src/scitex/scholar/storage/_mixins/_storage_helpers.py
  src/scitex/scholar/storage/_mixins/_symlink_handlers.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Refactor _hitmap.py into modular package (1643 → 73 lines)
  src/scitex/plt/utils/_hitmap.py
  src/scitex/plt/utils/_hitmap/__init__.py
  src/scitex/plt/utils/_hitmap/_artist_extraction.py
  src/scitex/plt/utils/_hitmap/_color_application.py
  src/scitex/plt/utils/_hitmap/_color_conversion.py
  src/scitex/plt/utils/_hitmap/_constants.py
  src/scitex/plt/utils/_hitmap/_hitmap_core.py
  src/scitex/plt/utils/_hitmap/_path_extraction.py
  src/scitex/plt/utils/_hitmap/_query.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Refactor flask_editor/_core.py into modular package (1688 → 29 lines)
  src/scitex/canvas/editor/flask_editor/_core.py
  src/scitex/canvas/editor/flask_editor/_core/__init__.py
  src/scitex/canvas/editor/flask_editor/_core/_bbox_extraction.py
  src/scitex/canvas/editor/flask_editor/_core/_editor.py
  src/scitex/canvas/editor/flask_editor/_core/_export_helpers.py
  src/scitex/canvas/editor/flask_editor/_core/_routes_basic.py
  src/scitex/canvas/editor/flask_editor/_core/_routes_export.py
  src/scitex/canvas/editor/flask_editor/_core/_routes_panels.py
  src/scitex/canvas/editor/flask_editor/_core/_routes_save.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(stats): split _styles.py into modular components (#103)
  src/scitex/stats/auto/_stat_style.py
  src/scitex/stats/auto/_style_definitions.py
  src/scitex/stats/auto/_styles.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(ai): split _TimeSeriesSlidingWindowSplit.py into modular components (#105)
  src/scitex/ai/classification/timeseries/_TimeSeriesSlidingWindowSplit.py
  src/scitex/ai/classification/timeseries/_sliding_window_core.py
  src/scitex/ai/classification/timeseries/_sliding_window_plotting.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(stats): handle numerical overflow in power_ttest for large samples
  src/scitex/stats/power/_power.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: remove personal emails from .env.example
  .env.example
Due: none

chore(examples): standardize naming convention to NN_name.py
  examples/capture/01_basic_usage.py
  examples/capture/02_debugging_workflow.py
  examples/demo_figures/01_scitex_plt.py
  examples/rng/05_cache_management.py
  examples/rng/06_library_specific_generators.py
  examples/rng/07_multi_library.py
  examples/rng/08_verification_with_pandas.py
  examples/rng/basic_usage.py
  examples/rng/machine_learning.py
  examples/rng/scientific_experiment.py
  examples/rng/session_integration.py
  examples/scitex/example___main__.py
  examples/scitex/example___version__.py
  examples/scitex/example__sh.py
  examples/scitex/example_errors.py
  examples/session/01_session_plt_io.py
  examples/session/02_session_plt_io_pure_python.py
  examples/stats/01_time_series_cv_validation.py
Due: no-todos-in-commits, pytest-changed

refactor(audio): standardize env vars to SCITEX_AUDIO_ prefix
  .env.example
  src/scitex/audio/__init__.py
  src/scitex/audio/_tts.py
  src/scitex/audio/engines/base.py
  src/scitex/audio/engines/elevenlabs_engine.py
  src/scitex/config/_env_registry.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(config): standardize env vars to SCITEX_{MODULE}_ prefix
  .env.example
  docs/ENV_VARIABLES.md
  src/scitex/cli/social.py
  src/scitex/config/_env_registry.py
  src/scitex/logging/_formatters.py
  src/scitex/social/__init__.py
  src/scitex/ui/_backends/_email.py
  src/scitex/ui/_backends/_webhook.py
  src/scitex/web/_search_pubmed.py
  tests/scitex/social/test_social.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): add 'scitex plt' wrapper for figrecipe commands (#128)
  src/scitex/cli/main.py
  src/scitex/cli/plt.py
  tests/scitex/cli/test_plt.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(cli): change help-recursive from subcommand to option flag
  src/scitex/cli/repro.py
  src/scitex/cli/resource.py
  src/scitex/cli/scholar/__init__.py
  src/scitex/cli/stats.py
  src/scitex/cli/template.py
  src/scitex/cli/tex.py
  src/scitex/cli/writer.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(template): add code templates for all scitex modules
  docs/CLI_COMMANDS.md
  docs/MCP_TOOLS.md
  src/scitex/_mcp_tools/template.py
  src/scitex/cli/template.py
  src/scitex/mcp_server.py
  src/scitex/template/__init__.py
  src/scitex/template/_code_templates.py
  src/scitex/template/_mcp/handlers.py
  src/scitex/template/_mcp/tool_schemas.py
  src/scitex/template/_templates/__init__.py
  src/scitex/template/_templates/audio.py
  src/scitex/template/_templates/canvas.py
  src/scitex/template/_templates/capture.py
  src/scitex/template/_templates/config.py
  src/scitex/template/_templates/diagram.py
  src/scitex/template/_templates/io.py
  src/scitex/template/_templates/module.py
  src/scitex/template/_templates/plt.py
  src/scitex/template/_templates/scholar.py
  src/scitex/template/_templates/session.py
  src/scitex/template/_templates/session_minimal.py
  src/scitex/template/_templates/session_plot.py
  src/scitex/template/_templates/session_stats.py
  src/scitex/template/_templates/stats.py
  src/scitex/template/_templates/writer.py
  tests/scitex/cli/test_template.py
  tests/scitex/template/_mcp/test_template_handlers.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cloud): integrate scitex-cloud package into scitex.cloud module
  src/scitex/cloud/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(stats): split MCP handlers into modular structure
  src/scitex/stats/_mcp/_handlers/__init__.py
  src/scitex/stats/_mcp/_handlers/_corrections.py
  src/scitex/stats/_mcp/_handlers/_descriptive.py
  src/scitex/stats/_mcp/_handlers/_effect_size.py
  src/scitex/stats/_mcp/_handlers/_format.py
  src/scitex/stats/_mcp/_handlers/_normality.py
  src/scitex/stats/_mcp/_handlers/_posthoc.py
  src/scitex/stats/_mcp/_handlers/_power.py
  src/scitex/stats/_mcp/_handlers/_recommend.py
  src/scitex/stats/_mcp/_handlers/_run_test.py
  src/scitex/stats/_mcp/_handlers/_stars.py
  src/scitex/stats/_mcp/handlers.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(gen): move utilities to appropriate modules
  CHANGELOG.md
  src/scitex/__init__.py
  src/scitex/context/__init__.py
  src/scitex/context/_detect_environment.py
  src/scitex/context/_get_notebook_path.py
  src/scitex/dev/__init__.py
  src/scitex/gen/__init__.py
  src/scitex/gen/_ci.py
  src/scitex/gen/_list_packages.py
  src/scitex/gen/_title_case.py
  src/scitex/introspect/__init__.py
  src/scitex/introspect/_inspect_module.py
  src/scitex/io/_save.py
  src/scitex/os/__init__.py
  src/scitex/os/_check_host.py
  src/scitex/plt/__init__.py
  src/scitex/session/__init__.py
  src/scitex/session/_decorator.py
  src/scitex/sh/__init__.py
  src/scitex/sh/_shell_legacy.py
  src/scitex/stats/descriptive/__init__.py
  src/scitex/stats/descriptive/_ci.py
  src/scitex/str/__init__.py
  src/scitex/str/_title_case.py
  tests/scitex/gen/test__check_host.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(ci): resolve YAML syntax error in benchmark workflow
  .github/workflows/benchmark-install-time.yml
Due: none

fix(tests): handle numerical overflow in power test
  tests/scitex/stats/power/test__power.py
Due: no-todos-in-commits, pytest-changed

refactor(introspect): rename functions to IPython-style names
  docs/MCP_TOOLS.md
  docs/modules/introspect.md
  src/scitex/_mcp_tools/introspect.py
  src/scitex/cli/introspect.py
  src/scitex/gen/__init__.py
  src/scitex/gen/_list_packages.py
  src/scitex/introspect/__init__.py
  src/scitex/introspect/_core.py
  src/scitex/introspect/_list_api.py
  src/scitex/introspect/_mcp/__init__.py
  src/scitex/introspect/_mcp/handlers.py
  src/scitex/introspect/_members.py
  src/scitex/introspect/_signature.py
  src/scitex/introspect/_source.py
  tests/scitex/introspect/test__members.py
  tests/scitex/introspect/test__signature.py
  tests/scitex/introspect/test__source.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: bump version to 2.15.2
  pyproject.toml
Due: none

refactor(writer): delegate to scitex-writer package (thin wrapper)
  src/scitex/cli/writer.py
  src/scitex/writer/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs(readme): add section about standalone spinoff packages
  README.md
Due: none

feat(writer): add branding environment variables
  src/scitex/writer/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(cli): update writer tests for thin wrapper
  tests/scitex/cli/test_writer.py
Due: no-todos-in-commits, pytest-changed

docs: reorganize documentation with numbered files
  docs/00_SPHINX_BUILD.md
  docs/01_CLI_COMMANDS.md
  docs/02_MCP_TOOLS.md
  docs/03_ENV_VARIABLES.md
  docs/04_MODULE_STATUS.md
  docs/05_SCITEX_FAMILY.md
  docs/06_CONTRIBUTING.md
  docs/architecture/01_opaque_figures.mmd
  docs/architecture/02_structured_figure_object.mmd
  docs/architecture/03_spec_level_editing.mmd
  docs/architecture/04_ai_modification.mmd
  docs/architecture/05_workflow.mmd
  docs/guides/EXTERNAL_PACKAGE_BRANDING.md
  docs/modules/introspect.md
  docs/visualization/FROM_USER.md
  tests/scitex/introspect/test__examples.py
  tests/scitex/introspect/test__type_hints.py
Due: no-todos-in-commits, pytest-changed

fix(ci): make coverage badge creation non-blocking
  .github/workflows/config-coverage.yml
  .github/workflows/logging-coverage.yml
  .github/workflows/stats-coverage.yml
Due: none

fix(ci): add retry mechanism for PyPI installation tests
  .github/workflows/test-install.yml
Due: none

fix(ci): make benchmark Pages deployment optional
  .github/workflows/benchmark-install-time.yml
Due: none

fix(introspect): correct module resolution and hyphen support
  src/scitex/cli/introspect.py
  src/scitex/introspect/_list_api.py
  src/scitex/writer/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs: update SciTeX Family with integration patterns
  docs/05_SCITEX_FAMILY.md
Due: none

fix(mcp): delegate writer MCP tools to scitex-writer package
  src/scitex/_mcp_tools/writer.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test: add thin wrapper consistency tests
  src/scitex/introspect/_list_api.py
  tests/scitex/test_thin_wrapper_consistency.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(mcp): delegate social MCP tools to socialia package
  docs/05_SCITEX_FAMILY.md
  src/scitex/_mcp_tools/social.py
  tests/scitex/test_thin_wrapper_consistency.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(pre-commit): replace deprecated types-all with specific type stubs
  .pre-commit-config.yaml
  docs/05_SCITEX_FAMILY.md
Due: none

refactor(cli): Standardize MCP commands to `<module> mcp start` pattern
  src/scitex/cli/audio.py
  src/scitex/cli/plt.py
  src/scitex/cli/social.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: comprehensive project audit fixes
  .env.d.examples/00_crossref-local.env
  .env.d.examples/00_figrecipe.env
  .env.d.examples/00_scitex-writer.env
  .env.d.examples/00_scitex.env
  .env.d.examples/00_socialia.env
  .env.d.examples/01_audio.env
  .env.d.examples/01_cloud.env
  .env.d.examples/01_config.env
  .env.d.examples/01_logging.env
  .env.d.examples/01_plt.env
  .env.d.examples/01_scholar.env
  .env.d.examples/01_social.env
  .env.d.examples/01_ui.env
  .env.d.examples/01_web.env
  .env.d.examples/README.md
  .env.d.examples/entry.src
  .github/workflows/test-canvas.yml
  .github/workflows/test-cloud.yml
  .github/workflows/test-compat.yml
  .github/workflows/test-cv.yml
  .github/workflows/test-parallel.yml
  .gitignore
  README.md
  docs/02_MCP_TOOLS.md
  docs/07_VERIFICATION_SYSTEM.md
  examples/scitex/io/bundle/10_theme_inheritance.py
  examples/scitex/io/bundle/11_stats_annotation_binding.py
  examples/scitex/io/bundle/12_export_profiles.py
  examples/scitex/io/bundle/13_layout_edit_bbox_norm.py
  examples/scitex/io/bundle/14_zip_portability.py
  examples/scitex/io/bundle/15_style_bridge.py
  pyproject.toml
  src/scitex/cli/capture.py
  src/scitex/cli/scholar/__init__.py
  src/scitex/cli/stats.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed
