Repository ywatanabe1989/scitex-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for SciTeX code quality
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Code formatting
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=88]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Linting
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [
          --max-line-length=88,
          --extend-ignore=E203 E266 E501 W503,
          --max-complexity=10,
          --exclude=.old/*
        ]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-r, src/scitex, --skip=B101]
        exclude: ^(tests/|src/scitex/\.old/|\.old/)

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Docstring checking
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=numpy]
        exclude: ^(tests/|src/scitex/\.old/|\.old/|examples/\.old/|setup\.py)

  # YAML/JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-json
        exclude: \.ipynb$
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key

  # Jupyter notebook cleaning
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: [--max-size=5]

  # Shell script checking
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-x]

  # Optional: Local hooks
  - repo: local
    hooks:
      - id: no-hardcoded-passwords
        name: Check for hardcoded passwords
        entry: "(?i)(password|passwd|pwd)\\s*=\\s*[\"'][^\"']+[\"']"
        language: pygrep
        types: [python]
        exclude: ^(tests/|examples/)
      
      - id: no-todos-in-commits
        name: Check for TODO comments
        entry: '(?i)(TODO|FIXME|XXX|HACK)'
        language: pygrep
        types: [python]
        exclude: ^(\.old/|src/scitex/\.old/)
        stages: [commit]

      - id: pytest-changed
        name: Run tests for changed files
        entry: ./scripts/maintenance/test.sh --changed -x -q
        language: system
        pass_filenames: false
        types: [python]
        stages: [commit]

      - id: inhibit-root-pollution
        name: Check for project root pollution
        entry: ./scripts/maintenance/inhibit_project_root_pollution.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]

test: Add tests for figrecipe integration modules
  tests/scitex/plt/test__figrecipe_integration.py
  tests/scitex/stats/test__figrecipe_integration.py
Due: no-todos-in-commits, pytest-changed

fix(bridge): Add facecolor support and fix vis→canvas module rename
  src/scitex/bridge/_figrecipe.py
  src/scitex/bridge/_stats_plt.py
  src/scitex/bridge/_stats_vis.py
  tests/scitex/bridge/test__helpers.py
  tests/scitex/bridge/test__plt_vis.py
  tests/scitex/bridge/test__stats_vis.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(plt): Delegate styling to figrecipe with fallback
  src/scitex/plt/_mcp/_handlers_annotation.py
  src/scitex/plt/_mcp/_handlers_figure.py
  src/scitex/plt/_mcp/_handlers_plot.py
  src/scitex/plt/_mcp/_handlers_style.py
  src/scitex/plt/_mcp/handlers.py
  src/scitex/plt/styles/_plot_postprocess.py
  src/scitex/plt/styles/_postprocess_helpers.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(scholar): Handle nested event loop in journal normalizer
  src/scitex/scholar/core/journal_normalizer.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(ui): Add scitex.ui module for user alerts
  src/scitex/compat/__init__.py
  src/scitex/scholar/auth/sso/BaseSSOAutomator.py
  src/scitex/ui/__init__.py
  src/scitex/ui/_backends.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(ui): Add tests for scitex.ui module
  tests/scitex/ui/test__backends.py
  tests/scitex/ui/test_ui_api.py
Due: no-todos-in-commits, pytest-changed

fix: Lazy load xarray to prevent atexit hang + add .env.example
  .env.example
  src/scitex/ui/_backends.py
  src/scitex/utils/_notify.py
  src/scitex/utils/_search.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Use no-reply@scitex.ai as default sender
  .env.example
  src/scitex/utils/_notify.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Update .env.example with all scitex.ai email addresses
  .env.example
  src/scitex/utils/_notify.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(ui): Add WSL/Windows desktop notification support
  src/scitex/ui/_backends.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(ui): Integrate notification config with scitex.config
  src/scitex/config/default.yaml
  src/scitex/ui/_backends.py
  src/scitex/ui/_backends/__init__.py
  src/scitex/ui/_backends/_audio.py
  src/scitex/ui/_backends/_config.py
  src/scitex/ui/_backends/_desktop.py
  src/scitex/ui/_backends/_email.py
  src/scitex/ui/_backends/_matplotlib.py
  src/scitex/ui/_backends/_playwright.py
  src/scitex/ui/_backends/_types.py
  src/scitex/ui/_backends/_webhook.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(ui): Add tests for config and visual backends
  src/scitex/ui/_backends/_config.py
  tests/scitex/ui/test__config.py
  tests/scitex/ui/test__visual_backends.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(test): Update email backend test to delete all env vars
  tests/scitex/ui/test__backends.py
Due: no-todos-in-commits, pytest-changed

feat(ui): Add Emacs backend and MCP notification server
  src/scitex/ui/_backends/__init__.py
  src/scitex/ui/_backends/_config.py
  src/scitex/ui/_backends/_emacs.py
  src/scitex/ui/_mcp/__init__.py
  src/scitex/ui/_mcp/handlers.py
  src/scitex/ui/_mcp/tool_schemas.py
  src/scitex/ui/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(ui/mcp): Remove timeout kwarg from get_backend call
  src/scitex/ui/_mcp/handlers.py
  tests/scitex/ui/test__mcp_handlers.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(ui): Matplotlib notification now displays for full timeout
  src/scitex/ui/_backends/_matplotlib.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(scholar/auth): Correct notification timing for 2FA workflow
  src/scitex/scholar/auth/core/BrowserAuthenticator.py
  src/scitex/scholar/auth/providers/OpenAthensAuthenticator.py
  src/scitex/scholar/auth/providers/_notifications.py
  src/scitex/scholar/auth/sso/UniversityOfMelbourneSSOAutomator.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Add browser command for launching Chrome
  src/scitex/cli/browser.py
  src/scitex/cli/main.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli/browser): Show browser ID in page title
  src/scitex/cli/browser.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(cli/browser): Fix mode switching to properly toggle headless
  src/scitex/cli/browser.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(cli/browser): Use CDP minimize/restore instead of recreate
  src/scitex/cli/browser.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli/browser): Use Xvfb virtual display for stealth mode
  src/scitex/cli/browser.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(cli/browser): Restart playwright instance on display switch
  src/scitex/cli/browser.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(logging): Reduce verbosity in scholar pipeline
  src/scitex/__init__.py
  src/scitex/browser/debugging/_browser_logger.py
  src/scitex/cli/scholar.py
  src/scitex/logging/_context.py
  src/scitex/scholar/impact_factor/jcr/ImpactFactorJCREngine.py
  src/scitex/scholar/pipelines/ScholarPipelineSingle.py
  src/scitex/scholar/storage/PaperIO.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(ui): Add fallback priority and Emacs popup backend
  pyproject.toml
  src/scitex/mcp_server.py
  src/scitex/ui/__init__.py
  src/scitex/ui/_backends/_emacs.py
  src/scitex/ui/mcp_server.py
  src/scitex/utils/_email.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(logging): Convert PDF download logs to DEBUG level
  src/scitex/scholar/pdf_download/strategies/chrome_pdf_viewer.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(tests): Split MCP handlers tests into separate files
  tests/scitex/bridge/test__figrecipe.py
  tests/scitex/bridge/test__helpers.py
  tests/scitex/bridge/test__plt_vis.py
  tests/scitex/bridge/test__stats_plt.py
  tests/scitex/bridge/test__stats_vis.py
  tests/scitex/cli/test_writer.py
  tests/scitex/plt/_mcp/test__handlers_annotation.py
  tests/scitex/plt/_mcp/test__handlers_figure.py
  tests/scitex/plt/_mcp/test__handlers_plot.py
  tests/scitex/plt/_mcp/test__handlers_style.py
  tests/scitex/plt/_mcp/test_handlers.py
  tests/scitex/plt/_subplots/_AxisWrapperMixins/test__TrackingMixin.py
  tests/scitex/plt/_subplots/test__FigWrapper.py
  tests/scitex/plt/styles/test__plot_postprocess.py
  tests/scitex/plt/styles/test__postprocess_helpers.py
  tests/scitex/plt/test__figrecipe_integration.py
  tests/scitex/scholar/auth/sso/test_BaseSSOAutomator.py
  tests/scitex/scholar/core/test_Paper.py
  tests/scitex/scholar/core/test_journal_normalizer.py
  tests/scitex/stats/test__figrecipe_integration.py
  tests/scitex/ui/test_ui_api.py
Due: no-todos-in-commits, pytest-changed

chore(scholar): Remove outdated TODO.md
  src/scitex/scholar/TODO.md
Due: none

refactor(cli): Simplify scholar CLI with unified 'add' command
  src/scitex/cli/scholar.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(cli): Rename 'add' to 'fetch' for clarity
  src/scitex/cli/scholar.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(browser): Suppress harmless rsync timestamp warnings
  src/scitex/browser/core/ChromeProfileManager.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(pipeline): Extract steps to submodule, enhance content extraction
  src/scitex/scholar/pipelines/ScholarPipelineSingle.py
  src/scitex/scholar/pipelines/_single_steps.py
  src/scitex/scholar/storage/PaperIO.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(PaperIO): Add tests for save_tables_from_extraction method
  tests/scitex/scholar/storage/test_PaperIO.py
Due: no-todos-in-commits, pytest-changed

test(pipeline): Add comprehensive tests for ScholarPipelineSingle
  tests/scitex/scholar/pipelines/test_ScholarPipelineSingle.py
Due: no-todos-in-commits, pytest-changed

test(scholar): Add comprehensive tests for metadata engines and download modules
  tests/scitex/scholar/impact_factor/test_ImpactFactorEngine.py
  tests/scitex/scholar/metadata_engines/test_ScholarEngine.py
  tests/scitex/scholar/pdf_download/test_ScholarPDFDownloader.py
  tests/scitex/scholar/url_finder/test_ScholarURLFinder.py
Due: no-todos-in-commits, pytest-changed

fix(tests): Fix weak assertions in ScholarEngine and ImpactFactorEngine tests
  tests/scitex/scholar/impact_factor/test_ImpactFactorEngine.py
  tests/scitex/scholar/metadata_engines/test_ScholarEngine.py
Due: no-todos-in-commits, pytest-changed

test(scholar): Add 62 meaningful tests for core modules
  tests/scitex/scholar/core/test_journal_normalizer.py
  tests/scitex/scholar/core/test_open_access.py
Due: no-todos-in-commits, pytest-changed

feat(scholar/jobs): Add async job management with structured error handling
  src/scitex/scholar/jobs/_Job.py
  src/scitex/scholar/jobs/_JobManager.py
  src/scitex/scholar/jobs/__init__.py
  src/scitex/scholar/jobs/_errors.py
  src/scitex/scholar/jobs/_executors.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(scholar/_mcp): Add MCP handlers for job management
  src/scitex/scholar/_mcp/job_handlers.py
  src/scitex/scholar/_mcp/job_tool_schemas.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(cli/scholar): Convert module to package with subcommands
  src/scitex/cli/scholar.py
  src/scitex/cli/scholar/__init__.py
  src/scitex/cli/scholar/_fetch.py
  src/scitex/cli/scholar/_jobs.py
  src/scitex/cli/scholar/_library.py
  src/scitex/cli/scholar/_utils.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed
