Repository ywatanabe1989/scitex-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for SciTeX code quality
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Code formatting
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=88]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Linting
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [
          --max-line-length=88,
          --extend-ignore=E203 E266 E501 W503,
          --max-complexity=10,
          --exclude=.old/*
        ]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-r, src/scitex, --skip=B101]
        exclude: ^(tests/|src/scitex/\.old/|\.old/)

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Docstring checking
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=numpy]
        exclude: ^(tests/|src/scitex/\.old/|\.old/|examples/\.old/|setup\.py)

  # YAML/JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-json
        exclude: \.ipynb$
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key

  # Jupyter notebook cleaning
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: [--max-size=5]

  # Shell script checking
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-x]

  # Optional: Local hooks
  - repo: local
    hooks:
      - id: no-hardcoded-passwords
        name: Check for hardcoded passwords
        entry: "(?i)(password|passwd|pwd)\\s*=\\s*[\"'][^\"']+[\"']"
        language: pygrep
        types: [python]
        exclude: ^(tests/|examples/)
      
      - id: no-todos-in-commits
        name: Check for TODO comments
        entry: '(?i)(TODO|FIXME|XXX|HACK)'
        language: pygrep
        types: [python]
        exclude: ^(\.old/|src/scitex/\.old/)
        stages: [commit]

      - id: pytest-changed
        name: Run tests for changed files
        entry: ./scripts/maintenance/test.sh --changed -x -q
        language: system
        pass_filenames: false
        types: [python]
        stages: [commit]

      - id: inhibit-root-pollution
        name: Check for project root pollution
        entry: ./scripts/maintenance/inhibit_project_root_pollution.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]

chore: Bump version to 2.12.0
  CHANGELOG.md
  pyproject.toml
  src/scitex/__version__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs: Reorder README module table columns
  README.md
Due: none

docs: Add alignment API proposal
  docs/proposals/alignment-mcp-tools.md
Due: none

docs: Add overlap detection & collision avoidance to alignment proposal
  docs/proposals/alignment-mcp-tools.md
Due: none

feat(scholar): Add BibTeX validator with comprehensive tests
  src/scitex/scholar/storage/BibTeXHandler.py
  src/scitex/scholar/storage/_BibTeXValidator.py
  src/scitex/scholar/storage/__init__.py
  tests/scitex/scholar/storage/test_bibtex_validator.py
  tests/scitex/scholar/storage/test_deduplication_manager.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Minor cleanups and linting fixes
  .gitignore
  README.md
  src/scitex/mcp_server.py
  src/scitex/scholar/config/core/_PathManager.py
  src/scitex/scholar/core/Scholar.py
  src/scitex/writer/_compile_async.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs: Add alignment API proposal for canvas and plt modules
  docs/proposals/alignment-mcp-tools.md
Due: none

feat(cv): Add computer vision module with cv2 utilities
  src/scitex/cv/__init__.py
  src/scitex/cv/_draw.py
  src/scitex/cv/_filters.py
  src/scitex/cv/_io.py
  src/scitex/cv/_transform.py
  src/scitex/dev/__init__.py
  src/scitex/dev/cv/__init__.py
  src/scitex/dev/cv/_compose.py
  src/scitex/dev/cv/_mcp_handlers.py
  src/scitex/dev/cv/_title_card.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(cv): Add comprehensive tests for cv and dev.cv modules
  tests/scitex/cv/__init__.py
  tests/scitex/cv/test_draw.py
  tests/scitex/cv/test_filters.py
  tests/scitex/cv/test_io.py
  tests/scitex/cv/test_transform.py
  tests/scitex/dev/cv/__init__.py
  tests/scitex/dev/cv/test_compose.py
  tests/scitex/dev/cv/test_title_card.py
Due: no-todos-in-commits, pytest-changed

feat(scholar): Refactor MCP handlers to use public Scholar APIs
  src/scitex/scholar/_mcp_handlers.py
  src/scitex/scholar/_mcp_tool_schemas.py
  src/scitex/scholar/mcp_server.py
  tests/scitex/scholar/test__mcp_handlers.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore(template): Update default writer template tag to v2.0.0
  src/scitex/template/clone_writer_directory.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(core): Add __dir__ to _LazyModule for tab completion support
  src/scitex/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(writer): Rename validate_tree_structures to verify_tree_structure
  src/scitex/git/_init.py
  src/scitex/writer/_compile/_validator.py
  src/scitex/writer/utils/__init__.py
  src/scitex/writer/utils/_verify_tree_structure.py
  tests/scitex/git/test__init.py
  tests/scitex/writer/_compile/test__validator.py
  tests/scitex/writer/test__verify_tree_structure.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(writer): Rename utils functions and remove pdf_thumbnail
  src/scitex/writer/_dataclasses/tree/MINIMUM_FILES.md
  src/scitex/writer/_mcp_handlers.py
  src/scitex/writer/_mcp_tool_schemas.py
  src/scitex/writer/utils/__init__.py
  src/scitex/writer/utils/_converters.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(scholar): Migrate Pydantic models from class Config to ConfigDict
  src/scitex/scholar/core/Paper.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(cli): Handle non-writer directories gracefully in writer commands
  src/scitex/cli/writer.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Remove redundant directories and add CLAUDE.md to gitignore
  .gitignore
  scitex-python/README.md
  scitex-python/pyproject.toml
  src/.dev/openathens_after_cookies.html
  src/.dev/openathens_after_selection.html
  src/.dev/openathens_initial_openathens.html
Due: none

ci: Add declarative GitHub labels configuration
  .github/labels.yml
  .github/workflows/labels.yml
Due: none

fix(test): Update TrackingMixin tests to expect prefixed IDs
  tests/scitex/plt/_subplots/_AxisWrapperMixins/test__TrackingMixin.py
Due: no-todos-in-commits, pytest-changed

feat(makefile): Add clean-old-legacy target
  Makefile
Due: none

fix(plt): Make savefig facecolor override transparent axes/figure
  src/scitex/plt/_subplots/_FigWrapper.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(stats): Add figrecipe integration for plot annotations
  src/scitex/stats/__init__.py
  src/scitex/stats/_figrecipe_integration.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(plt): Add figrecipe integration for graph visualization and editor
  src/scitex/plt/__init__.py
  src/scitex/plt/_figrecipe_integration.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor: Minimize exposed APIs and simplify integration modules
  src/scitex/plt/__init__.py
  src/scitex/plt/_figrecipe_integration.py
  src/scitex/stats/__init__.py
  src/scitex/stats/_figrecipe_integration.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed
