Repository ywatanabe1989/scitex-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

no-hardcoded-passwords:
  name: Check for hardcoded passwords
  entry: (?i)(password|passwd|pwd)\s*=\s*["'][^"']+["']
  language: pygrep

no-todos-in-commits:
  name: Check for TODO comments
  entry: (?i)(TODO|FIXME|XXX|HACK)
  language: pygrep
  stages:
  - commit

pytest-changed:
  name: Run tests for changed files
  entry: ./scripts/maintenance/test.sh --changed -x -q
  language: system
  pass_filenames: false
  stages:
  - commit

fix(docs): Add autodoc_mock_imports for RTD build
  docs/sphinx/conf.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(docs): Use [all] extras for RTD and minimize mocks
  .readthedocs.yaml
  docs/sphinx/conf.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(audio): Add smart audio routing with automatic relay fallback
  src/scitex/audio/README.md
  src/scitex/audio/__init__.py
  src/scitex/audio/_audio_check.py
  src/scitex/audio/_mcp/speak_handlers.py
  src/scitex/audio/_speak.py
  src/scitex/audio/mcp_server.py
  tests/scitex/audio/test__relay.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

audit(audio): Remove deprecated MCP tools and fix public API exposure
  src/scitex/_mcp_tools/audio.py
  src/scitex/audio/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs(examples): Add audio module examples
  examples/audio/01_basic_usage.py
  examples/audio/02_smart_routing.py
  examples/audio/README.md
Due: no-todos-in-commits, pytest-changed

feat(deps): add standalone packages to extras and bump version to 2.16.1
  pyproject.toml
Due: none

chore: bump version to 2.16.2
  pyproject.toml
Due: none

docs(examples): Add verification module examples
  examples/scitex/verify/00_run_all.sh
  examples/scitex/verify/01_source_a.py
  examples/scitex/verify/02_preprocess_a.py
  examples/scitex/verify/03_source_b.py
  examples/scitex/verify/04_preprocess_b.py
  examples/scitex/verify/05_source_c.py
  examples/scitex/verify/06_preprocess_c.py
  examples/scitex/verify/07_merge.py
  examples/scitex/verify/08_analyze.py
  examples/scitex/verify/09_demo_verification.py
  examples/scitex/verify/10_programmatic_verification.py
  examples/scitex/verify/README.md
  src/scitex/verify/README.md
  src/scitex/verify/dag.png
Due: no-todos-in-commits, pytest-changed

feat(verify): Add verification module for reproducible science
  src/scitex/_mcp_tools/verify.py
  src/scitex/cli/verify.py
  src/scitex/verify/__init__.py
  src/scitex/verify/_chain.py
  src/scitex/verify/_db.py
  src/scitex/verify/_hash.py
  src/scitex/verify/_integration.py
  src/scitex/verify/_rerun.py
  src/scitex/verify/_tracker.py
  src/scitex/verify/_visualize.py
  src/scitex/verify/_viz/__init__.py
  src/scitex/verify/_viz/_colors.py
  src/scitex/verify/_viz/_format.py
  src/scitex/verify/_viz/_json.py
  src/scitex/verify/_viz/_mermaid.py
  src/scitex/verify/_viz/_plotly.py
  src/scitex/verify/_viz/_templates.py
  src/scitex/verify/_viz/_utils.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(session): Split _lifecycle.py into modular _lifecycle/ package
  scripts/maintenance/template.py
  src/scitex/_mcp_resources/_cheatsheet.py
  src/scitex/_mcp_resources/_modules.py
  src/scitex/_mcp_tools/__init__.py
  src/scitex/cli/main.py
  src/scitex/dev/plt/__init__.py
  src/scitex/dev/plt/mpl/get_dir_ax.py
  src/scitex/dev/plt/mpl/get_signatures.py
  src/scitex/dev/plt/mpl/get_signatures_details.py
  src/scitex/io/_load.py
  src/scitex/io/_save.py
  src/scitex/session/README.md
  src/scitex/session/__init__.py
  src/scitex/session/_decorator.py
  src/scitex/session/_lifecycle.py
  src/scitex/session/_lifecycle/__init__.py
  src/scitex/session/_lifecycle/_close.py
  src/scitex/session/_lifecycle/_config.py
  src/scitex/session/_lifecycle/_matplotlib.py
  src/scitex/session/_lifecycle/_start.py
  src/scitex/session/_lifecycle/_utils.py
  src/scitex/session/_manager.py
  src/scitex/session/template.py
  src/scitex/template/_templates/plt.py
  src/scitex/template/_templates/session.py
  tests/scitex/dev/plt/mpl/test_get_dir_ax.py
  tests/scitex/dev/plt/mpl/test_get_signatures.py
  tests/scitex/dev/plt/mpl/test_get_signatures_details.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

style(examples): Apply pre-commit formatting fixes
  examples/demo_figures/01_scitex_plt.py
  examples/scitex/canvas/cui_editor.py
  examples/scitex/canvas/figz.py
  examples/scitex/canvas/gui_editors.py
  examples/scitex/io/bundle/03_all_plot_types.py
  examples/scitex/io/bundle/cui_editor.py
  examples/scitex/io/bundle/figz.py
  examples/scitex/io/bundle/gui_editors.py
  examples/scitex/io/bundle/plot.py
  examples/scitex/io/bundle/stats.py
  examples/scitex/plt/api_layers.py
  examples/scitex/stats/statsz.py
  examples/scitex/verify/01_source_a_out/FINISHED_SUCCESS/2026Y-02M-01D-08h55m22s_bFYA-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/01_source_a_out/FINISHED_SUCCESS/2026Y-02M-01D-08h58m16s_wDYF-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/01_source_a_out/config_A.json
  examples/scitex/verify/02_preprocess_a_out/FINISHED_SUCCESS/2026Y-02M-01D-08h55m46s_0KFa-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/03_source_b_out/FINISHED_SUCCESS/2026Y-02M-01D-08h56m04s_MI1c-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/04_preprocess_b_out/FINISHED_SUCCESS/2026Y-02M-01D-08h56m22s_8myN-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/05_source_c_out/FINISHED_SUCCESS/2026Y-02M-01D-08h56m42s_rZAC-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/06_preprocess_c_out/FINISHED_SUCCESS/2026Y-02M-01D-08h56m59s_89Fn-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/07_merge_out/FINISHED_SUCCESS/2026Y-02M-01D-08h57m19s_yQu9-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/08_analyze_out/FINISHED_SUCCESS/2026Y-02M-01D-08h57m37s_gVzK-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/08_analyze_out/report.json
  examples/scitex/verify/09_demo_verification_out/FINISHED_SUCCESS/2026Y-02M-01D-08h57m56s_CZTP-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/09_demo_verification_out/FINISHED_SUCCESS/2026Y-02M-01D-08h58m39s_fn70-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/09_demo_verification_out/FINISHED_SUCCESS/2026Y-02M-01D-08h58m57s_6bY9-main/CONFIGS/CONFIG.yaml
  examples/scitex/verify/09_demo_verification_out/dag.html
  examples/scitex/verify/09_demo_verification_out/dag.svg
  examples/scitex/verify/10_programmatic_verification_out/FINISHED_SUCCESS/2026Y-02M-01D-08h59m33s_YXcS-main/CONFIGS/CONFIG.yaml
Due: no-todos-in-commits, pytest-changed

chore: bump version to 2.17.0
  pyproject.toml
Due: none

feat(cli): Add -v/-vv verbosity to verify mcp list-tools
  src/scitex/cli/verify.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(verify): Remove Plotly, add -v options to CLI
  pyproject.toml
  src/scitex/cli/capture.py
  src/scitex/cli/stats.py
  src/scitex/cli/verify.py
  src/scitex/verify/README.md
  src/scitex/verify/__init__.py
  src/scitex/verify/_visualize.py
  src/scitex/verify/_viz/__init__.py
  src/scitex/verify/_viz/_plotly.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: bump version to 2.17.1
  pyproject.toml
Due: none

refactor(plt): Update figrecipe API with backward compatibility
  src/scitex/plt/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(template): Add clone_research_minimal for minimal project setup
  src/scitex/template/__init__.py
  src/scitex/template/clone_research_minimal.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(dev): Add developer tools module for ecosystem management
  src/scitex/_dev/__init__.py
  src/scitex/_dev/_config.py
  src/scitex/_dev/_dashboard/__init__.py
  src/scitex/_dev/_dashboard/_app.py
  src/scitex/_dev/_dashboard/_routes.py
  src/scitex/_dev/_dashboard/_scripts.py
  src/scitex/_dev/_dashboard/_styles.py
  src/scitex/_dev/_dashboard/_templates.py
  src/scitex/_dev/_dashboard/static/version-dashboard-favicon.svg
  src/scitex/_dev/_ecosystem.py
  src/scitex/_dev/_github.py
  src/scitex/_dev/_mcp/__init__.py
  src/scitex/_dev/_mcp/handlers.py
  src/scitex/_dev/_ssh.py
  src/scitex/_dev/_versions.py
  src/scitex/_mcp_tools/__init__.py
  src/scitex/_mcp_tools/dev.py
  src/scitex/cli/dev.py
  src/scitex/cli/main.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: bump version to 2.17.2
  pyproject.toml
Due: none

chore: Add docs/sphinx/_build/ to .gitignore
  .gitignore
Due: none

fix(audio): Add WSL Windows fallback for audio playback
  src/scitex/audio/_audio_check.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(tests): Update elevenlabs tests to match API behavior
  tests/scitex/audio/engines/test_elevenlabs_engine.py
Due: no-todos-in-commits, pytest-changed

chore: bump version to 2.17.3
  pyproject.toml
Due: none

feat(dev): Reorder ecosystem packages and add templates
  src/scitex/_dev/_ecosystem.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(dev): Preserve package order in dashboard JSON API
  src/scitex/_dev/_dashboard/_app.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(dashboard): Add symmetric toml+installed columns for hosts
  src/scitex/_dev/_dashboard/_scripts.py
  src/scitex/_dev/_ssh.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(dashboard): Add Read the Docs build status
  src/scitex/_dev/_dashboard/_routes.py
  src/scitex/_dev/_dashboard/_scripts.py
  src/scitex/_dev/_dashboard/_styles.py
  src/scitex/_dev/_dashboard/_templates.py
  src/scitex/_dev/_rtd.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(dashboard): Add collapsible cards, linked headers, RTD requirement
  src/scitex/_dev/_dashboard/_scripts.py
  src/scitex/_dev/_dashboard/_styles.py
  src/scitex/_dev/_dashboard/_templates.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat: Add save/export functionality for unified local database results
  src/scitex/scholar/_mcp/crossref_handlers.py
  src/scitex/scholar/_mcp/openalex_handlers.py
  src/scitex/scholar/local_dbs/__init__.py
  src/scitex/scholar/local_dbs/export.py
  src/scitex/scholar/local_dbs/unified.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat: Add OpenAlexLocalEngine and update scholar configuration
  CLAUDE.md
  src/scitex/scholar/config/default.yaml
  src/scitex/scholar/metadata_engines/ScholarEngine.py
  src/scitex/scholar/metadata_engines/individual/OpenAlexLocalEngine.py
  src/scitex/scholar/metadata_engines/individual/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Bump version to 2.17.4
  pyproject.toml
Due: none

feat: Add --force option to audio relay
  pyproject.toml
  src/scitex/audio/_utils.py
  src/scitex/audio/mcp_server.py
  src/scitex/cli/audio.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(ci): Remove Python 3.9 from test-install matrix
  .github/workflows/test-install.yml
Due: none

feat(cloud): Add stx.cloud delegation module
  src/scitex/cloud/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(dashboard): Add source badges, NAS mismatch detection, --force option
  src/scitex/_dev/__init__.py
  src/scitex/_dev/_dashboard/_app.py
  src/scitex/_dev/_dashboard/_routes.py
  src/scitex/_dev/_dashboard/_scripts.py
  src/scitex/_dev/_dashboard/_scripts/__init__.py
  src/scitex/_dev/_dashboard/_scripts/_cards.py
  src/scitex/_dev/_dashboard/_scripts/_core.py
  src/scitex/_dev/_dashboard/_scripts/_filters.py
  src/scitex/_dev/_dashboard/_scripts/_render.py
  src/scitex/_dev/_dashboard/_scripts/_utils.py
  src/scitex/_dev/_dashboard/_styles.py
  src/scitex/_dev/_dashboard/_templates.py
  src/scitex/_dev/_ssh.py
  src/scitex/cli/dev.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor: Delegate cli/cloud.py to scitex-cloud package
  src/scitex/cli/cloud.py
  tests/scitex/cli/test_cloud.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(cli): Delegate cloud command to scitex-cloud package
  src/scitex/cli/cloud.py
  tests/scitex/cli/test_cloud.py
  tests/scitex/cli/test_main.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Bump version to 2.17.6
  pyproject.toml
Due: none

Path conditions:
  no-hardcoded-passwords: any of: \.py$, but not: ^(tests/|examples/)
  no-todos-in-commits: any of: \.py$, but not: ^(\.old/|src/scitex/\.old/)
  pytest-changed: any of: \.py$
