Repository ywatanabe1989/scitex-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for SciTeX code quality
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Code formatting
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=88]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Linting
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [
          --max-line-length=88,
          --extend-ignore=E203 E266 E501 W503,
          --max-complexity=10,
          --exclude=.old/*
        ]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-r, src/scitex, --skip=B101]
        exclude: ^(tests/|src/scitex/\.old/|\.old/)

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: ^(src/scitex/\.old/|\.old/|examples/\.old/)

  # Docstring checking
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=numpy]
        exclude: ^(tests/|src/scitex/\.old/|\.old/|examples/\.old/|setup\.py)

  # YAML/JSON validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-json
        exclude: \.ipynb$
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key

  # Jupyter notebook cleaning
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: [--max-size=5]

  # Shell script checking
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-x]

  # Optional: Local hooks
  - repo: local
    hooks:
      - id: no-hardcoded-passwords
        name: Check for hardcoded passwords
        entry: "(?i)(password|passwd|pwd)\\s*=\\s*[\"'][^\"']+[\"']"
        language: pygrep
        types: [python]
        exclude: ^(tests/|examples/)
      
      - id: no-todos-in-commits
        name: Check for TODO comments
        entry: '(?i)(TODO|FIXME|XXX|HACK)'
        language: pygrep
        types: [python]
        exclude: ^(\.old/|src/scitex/\.old/)
        stages: [commit]

      - id: pytest-changed
        name: Run tests for changed files
        entry: ./scripts/maintenance/test.sh --changed -x -q
        language: system
        pass_filenames: false
        types: [python]
        stages: [commit]

      - id: inhibit-root-pollution
        name: Check for project root pollution
        entry: ./scripts/maintenance/inhibit_project_root_pollution.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]

refactor(canvas): Rename position/size to xy_mm/size_mm
  docs/visualization/01_TERMINOLOGY.md
  src/scitex/canvas/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(canvas): Rename position/size to xy_mm/size_mm in Canvas class
  src/scitex/canvas/canvas.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(scripts): Add installation time benchmark script and Makefile targets
  Makefile
  scripts/measure-install-time.sh
Due: none

docs: Update README with uv recommendations and gitignore FROM_USER.md
  .gitignore
  README.md
Due: none

refactor: Remove legacy fig/fts modules and clean up path utilities
  pyproject.toml
  scripts/maintenance/check_dependencies.py
  scripts/maintenance/dependencies/README.md
  scripts/maintenance/dependencies/list_deps.py
  scripts/maintenance/dependencies/list_internal_imports.py
  scripts/maintenance/template.py
  scripts/maintenance/template.sh
  src/scitex/_install_guide.py
  src/scitex/compat/__init__.py
  src/scitex/compat/_fig.py
  src/scitex/compat/_fts.py
  src/scitex/fig/__init__.py
  src/scitex/fts/__init__.py
  src/scitex/path/_find.py
  src/scitex/path/_get_module_path.py
  src/scitex/path/_get_spath.py
  src/scitex/path/_getsize.py
  src/scitex/path/_increment_version.py
  src/scitex/path/_mk_spath.py
  src/scitex/path/_path.py
  src/scitex/path/_split.py
  src/scitex/path/_this_path.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Bump version to 2.11.0
  pyproject.toml
  src/scitex/__version__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs: Add v2.11.0 changelog entry
  CHANGELOG.md
Due: none

refactor(dsp): Add _AVAILABLE flags for optional dependencies
  src/scitex/dsp/_demo_sig.py
  src/scitex/dsp/_mne.py
  src/scitex/dsp/_modulation_index.py
  src/scitex/dsp/_pac.py
  src/scitex/dsp/_psd.py
  src/scitex/dsp/_resample.py
  src/scitex/dsp/_transform.py
  src/scitex/dsp/add_noise.py
  src/scitex/dsp/norm.py
  src/scitex/dsp/reference.py
  src/scitex/dsp/utils/_differential_bandpass_filters.py
  src/scitex/dsp/utils/_zero_pad.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(dsp): Add tests for _AVAILABLE flags in dsp modules
  tests/scitex/dsp/test__demo_sig.py
  tests/scitex/dsp/test__pac.py
  tests/scitex/dsp/test__transform.py
  tests/scitex/dsp/utils/test__differential_bandpass_filters.py
  tests/scitex/dsp/utils/test__zero_pad.py
Due: no-todos-in-commits, pytest-changed

refactor(io): Add _AVAILABLE flags for optional dependencies
  src/scitex/io/_load_modules/_con.py
  src/scitex/io/_load_modules/_eeg.py
  src/scitex/io/_load_modules/_optuna.py
  src/scitex/io/_load_modules/_torch.py
  src/scitex/io/_save_modules/_optuna_study_as_csv_and_pngs.py
  src/scitex/io/_save_modules/_torch.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(io): Add tests for _AVAILABLE flags in io modules
  tests/scitex/io/_load_modules/test__con.py
  tests/scitex/io/_load_modules/test__eeg.py
  tests/scitex/io/_load_modules/test__optuna.py
  tests/scitex/io/_load_modules/test__torch.py
  tests/scitex/io/_save_modules/test__optuna_study_as_csv_and_pngs.py
  tests/scitex/io/_save_modules/test__torch.py
Due: no-todos-in-commits, pytest-changed

build: Comment out heavy deps and add [heavy] extra
  pyproject.toml
Due: none

feat: Add MCP servers for scholar, stats, and template modules
  pyproject.toml
  src/scitex/scholar/__main__.py
  src/scitex/scholar/_mcp_handlers.py
  src/scitex/scholar/_mcp_tool_schemas.py
  src/scitex/scholar/mcp_server.py
  src/scitex/stats/__main__.py
  src/scitex/stats/_mcp_handlers.py
  src/scitex/stats/_mcp_tool_schemas.py
  src/scitex/stats/mcp_server.py
  src/scitex/template/_mcp_handlers.py
  src/scitex/template/_mcp_tool_schemas.py
  src/scitex/template/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Add 7 new CLI modules to increase command coverage
  src/scitex/cli/audio.py
  src/scitex/cli/capture.py
  src/scitex/cli/main.py
  src/scitex/cli/repro.py
  src/scitex/cli/resource.py
  src/scitex/cli/stats.py
  src/scitex/cli/template.py
  src/scitex/cli/tex.py
  tests/scitex/cli/test_audio.py
  tests/scitex/cli/test_capture.py
  tests/scitex/cli/test_repro.py
  tests/scitex/cli/test_resource.py
  tests/scitex/cli/test_stats.py
  tests/scitex/cli/test_template.py
  tests/scitex/cli/test_tex.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs: Reorganize README badges and add [heavy] extra documentation
  README.md
Due: none

feat: Add MCP servers for plt, canvas, and diagram modules
  pyproject.toml
  src/scitex/canvas/_mcp_handlers.py
  src/scitex/canvas/_mcp_tool_schemas.py
  src/scitex/canvas/mcp_server.py
  src/scitex/diagram/_mcp_handlers.py
  src/scitex/diagram/_mcp_tool_schemas.py
  src/scitex/diagram/mcp_server.py
  src/scitex/plt/_mcp_handlers.py
  src/scitex/plt/_mcp_tool_schemas.py
  src/scitex/plt/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs: Consolidate README module listings and clean up badges
  README.md
Due: none

feat: Add unified scitex-mcp-server entry point
  pyproject.toml
  src/scitex/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Bump version to 2.12.0
  CHANGELOG.md
  pyproject.toml
  src/scitex/__version__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed
