Repository ywatanabe1989/scitex-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

no-hardcoded-passwords:
  name: Check for hardcoded passwords
  entry: (?i)(password|passwd|pwd)\s*=\s*["'][^"']+["']
  language: pygrep

no-todos-in-commits:
  name: Check for TODO comments
  entry: (?i)(TODO|FIXME|XXX|HACK)
  language: pygrep
  stages:
  - commit

pytest-changed:
  name: Run tests for changed files
  entry: ./scripts/maintenance/test.sh --changed -x -q
  language: system
  pass_filenames: false
  stages:
  - commit

feat(social): Add v0.1.4 CRUD commands (check, feed, me) (#115)
  src/scitex/_mcp_tools/social.py
  src/scitex/cli/social.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(cli): Enhance completion command with ecosystem support
  src/scitex/cli/main.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(cli): Update completion tests for new group structure
  tests/scitex/cli/test_main.py
Due: no-todos-in-commits, pytest-changed

refactor(cli): Simplify completion to scitex-only
  src/scitex/cli/main.py
  tests/scitex/cli/test_main.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test(cli): Fix scholar docstring assertion
  tests/scitex/cli/test_main.py
Due: no-todos-in-commits, pytest-changed

refactor: Rename repository URLs from scitex-code to scitex-python
  README.md
  containers/README.md
  examples/scitex/io/bundle/README.md
  examples/session/README.md
  packages/scitex-python-redirect/README.md
  packages/scitex-python-redirect/pyproject.toml
  pyproject.toml
  scripts/maintenance/dependencies/README.md
  src/scitex/canvas/README.md
  src/scitex/config/README.md
  src/scitex/io/bundle/README.md
  src/scitex/plt/gallery/README.md
  src/scitex/schema/README.md
  src/scitex/security/README.md
  src/scitex/session/README.md
  src/scitex/sh/README.md
  src/scitex/template/README.md
  src/scitex/writer/README.md
  tests/scitex/canvas/README.md
Due: none

docs: Add demo section with video link to README
  README.md
  docs/assets/images/scitex-demo.gif
  docs/assets/images/scitex-logo-navy-bg.png
Due: none

docs: Simplify badges - remove broken install time badges
  README.md
Due: none

docs: Add MCP tools section with 108 tools across 12 categories
  README.md
Due: none

docs: Wrap MCP tools in collapsible details with expanded table
  README.md
Due: none

docs: Refactor README with logo header and move large sections to docs
  README.md
  docs/MCP_TOOLS.md
  docs/MODULE_STATUS.md
Due: none

docs: Enhance README with CLI reference and MCP workflow description
  README.md
  docs/CLI_COMMANDS.md
Due: none

style(readme): Improve details sections spacing and fix icon path
  README.md
Due: none

docs(readme): Update tagline and add footer icon
  README.md
  docs/assets/images/scitex-icon-navy-inverted.png
Due: none

docs(readme): Revise tagline with automation and verification focus
  README.md
Due: none

docs(readme): Expand standardized outputs description
  README.md
Due: none

docs(readme): Update MCP server configuration format
  README.md
Due: none

docs(readme): Add output structure to Quick Start example
  README.md
Due: none

docs(readme): Reorganize around Three Interfaces
  README.md
Due: none

docs(readme): Use cropped logo and move badges to top
  README.md
  docs/assets/images/scitex-logo-blue-cropped.png
Due: none

feat(scholar): Add granular success flags to fetch response
  src/scitex/cli/scholar/_fetch.py
  src/scitex/scholar/jobs/_executors.py
  src/scitex/scholar/pdf_download/ScholarPDFDownloader.py
  src/scitex/scholar/pdf_download/_cli.py
  src/scitex/scholar/pdf_download/strategies/__init__.py
  src/scitex/scholar/pdf_download/strategies/manual_download_fallback.py
  tests/scitex/cli/test_scholar.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(scholar): Clean up pipeline and storage modules
  src/scitex/scholar/pipelines/ScholarPipelineBibTeX.py
  src/scitex/scholar/pipelines/ScholarPipelineParallel.py
  src/scitex/scholar/pipelines/ScholarPipelineSingle.py
  src/scitex/scholar/pipelines/_single_steps.py
  src/scitex/scholar/storage/_LibraryManager.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore(scholar): Add run_all.sh and clean up examples
  src/scitex/scholar/examples/00_run_all.sh
  src/scitex/scholar/examples/SUGGESTIONS.md
  src/scitex/scholar/examples/dev.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Bump version to 2.14.1
  pyproject.toml
Due: none

feat(audio): add smart local/remote switching with relay server
  src/scitex/audio/__init__.py
  src/scitex/audio/_branding.py
  src/scitex/audio/_relay.py
  src/scitex/audio/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs: add external package branding guide with symlinks
  docs/guides/EXTERNAL_PACKAGE_BRANDING.md
  src/scitex/plt/docs/EXTERNAL_PACKAGE_BRANDING.md
  src/scitex/scholar/docs/EXTERNAL_PACKAGE_BRANDING.md
  src/scitex/social/docs/EXTERNAL_PACKAGE_BRANDING.md
Due: none

Add audio speak handlers for local and relay playback modes
  src/scitex/_mcp_tools/audio.py
  src/scitex/audio/_mcp/__init__.py
  src/scitex/audio/_mcp/speak_handlers.py
  src/scitex/audio/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Add relay command for HTTP audio relay server
  src/scitex/cli/audio.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Add SSH client IP detection for audio relay auto-configuration
  src/scitex/audio/_branding.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Add cross-process locking for audio playback relay server
  src/scitex/audio/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Add relay reachability check for SSH reverse tunnel support
  src/scitex/audio/_branding.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Fix audio overlap and update relay documentation
  docs/CLI_COMMANDS.md
  docs/MCP_TOOLS.md
  src/scitex/audio/README.md
  src/scitex/audio/__init__.py
  src/scitex/audio/_mcp/speak_handlers.py
  src/scitex/cli/audio.py
  tests/scitex/audio/test__relay.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: bump version to 2.15.0
  pyproject.toml
Due: none

Add crossref-scitex integration for scitex.scholar (v2.15.1)
  pyproject.toml
  src/scitex/_mcp_tools/scholar.py
  src/scitex/cli/scholar/__init__.py
  src/scitex/cli/scholar/_crossref_scitex.py
  src/scitex/scholar/__init__.py
  src/scitex/scholar/_mcp/crossref_handlers.py
  src/scitex/scholar/crossref_scitex.py
  tests/scitex/scholar/_mcp/test_crossref_handlers.py
  tests/scitex/scholar/test_crossref_scitex.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(diagram): Delegate diagram module to figrecipe
  src/scitex/__init__.py
  src/scitex/_mcp_tools/diagram.py
  src/scitex/diagram/__init__.py
  src/scitex/diagram/_compile.py
  src/scitex/diagram/_diagram.py
  src/scitex/diagram/_mcp/__init__.py
  src/scitex/diagram/_mcp/handlers.py
  src/scitex/diagram/_mcp/tool_schemas.py
  src/scitex/diagram/_presets.py
  src/scitex/diagram/_schema.py
  src/scitex/diagram/_split.py
  src/scitex/diagram/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(plt): Delegate plt MCP tools to figrecipe
  src/scitex/_mcp_tools/plt.py
  src/scitex/plt/_mcp/__init__.py
  src/scitex/plt/_mcp/_handlers_annotation.py
  src/scitex/plt/_mcp/_handlers_figure.py
  src/scitex/plt/_mcp/_handlers_plot.py
  src/scitex/plt/_mcp/_handlers_style.py
  src/scitex/plt/_mcp/handlers.py
  src/scitex/plt/_mcp/tool_schemas.py
  src/scitex/plt/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(config): Add SCITEX_ENV_SRC for environment variable sourcing
  src/scitex/_env_loader.py
  src/scitex/config/__init__.py
  src/scitex/config/_env_registry.py
  src/scitex/mcp_server.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Minor docs and social module updates
  docs/guides/EXTERNAL_PACKAGE_BRANDING.md
  src/scitex/_mcp_tools/social.py
  src/scitex/social/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor(canvas): Remove inline JS/CSS fallback, use static files only
  src/scitex/canvas/editor/flask_editor/templates/__init__.py
  src/scitex/canvas/editor/flask_editor/templates/_scripts.py
  src/scitex/canvas/editor/flask_editor/templates/_styles.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Path conditions:
  no-hardcoded-passwords: any of: \.py$, but not: ^(tests/|examples/)
  no-todos-in-commits: any of: \.py$, but not: ^(\.old/|src/scitex/\.old/)
  pytest-changed: any of: \.py$
