Repository ywatanabe1989/scitex-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

no-hardcoded-passwords:
  name: Check for hardcoded passwords
  entry: (?i)(password|passwd|pwd)\s*=\s*["'][^"']+["']
  language: pygrep

no-todos-in-commits:
  name: Check for TODO comments
  entry: (?i)(TODO|FIXME|XXX|HACK)
  language: pygrep
  stages:
  - commit

pytest-changed:
  name: Run tests for changed files
  entry: ./scripts/maintenance/test.sh --changed -x -q
  language: system
  pass_filenames: false
  stages:
  - commit

chore: Remove unused externals directory and add new tests
  coverage-plt.json
  coverage-stats.json
  externals/README.md
  externals/sql_manager/.gitignore
  externals/sql_manager/MANIFEST.in
  externals/sql_manager/README.md
  externals/sql_manager/docs/Makefile
  externals/sql_manager/docs/make.bat
  externals/sql_manager/docs/source/api/modules.rst
  externals/sql_manager/docs/source/api/sql_manager.core.rst
  externals/sql_manager/docs/source/api/sql_manager.rst
  externals/sql_manager/docs/source/conf.py
  externals/sql_manager/docs/source/index.rst
  externals/sql_manager/requirements.txt
  externals/sql_manager/setup.py
  externals/sql_manager/sql_manager/__init__.py
  externals/sql_manager/sql_manager/core/__init__.py
  externals/sql_manager/sql_manager/core/manager.py
  externals/sql_manager/sql_manager/core/model.py
  externals/sql_manager/sql_manager/version/version.json
  scripts/maintenance/inhibit_project_root_pollution.sh
  test_output.txt
  tests/scitex/audio/test__cross_process_lock.py
  tests/scitex/audio/test__mcp_handlers.py
  tests/scitex/audio/test__mcp_tool_schemas.py
  tests/scitex/bridge/test__figrecipe.py
  tests/scitex/plt/_subplots/_export_as_csv_formatters/test__format_pcolormesh.py
  tests/scitex/plt/_subplots/_export_as_csv_formatters/test__format_stackplot.py
  tests/scitex/plt/_subplots/test__fonts.py
  tests/scitex/plt/_subplots/test__mm_layout.py
  tests/scitex/test__install_guide.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

chore: Add .env.zenrows to .gitignore to prevent future commits
  .gitignore
Due: none

docs: Update README installation section and add .claude to gitignore
  README.md
Due: none

fix(docs): Fix HTML tag order and markdown link syntax in README
  README.md
Due: none

chore(license): Update license classifier to AGPL-3.0
  pyproject.toml
Due: none

chore(release): Bump version to 2.10.0 and update changelog
  CHANGELOG.md
  src/scitex/__version__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs: Fix installation instructions - recommend scitex[all]
  README.md
Due: none

chore(release): Bump version to 2.10.1
  pyproject.toml
  src/scitex/__version__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(deps): Pin umap-learn>=0.5.4 for Python 3.11+ compatibility
  CHANGELOG.md
  pyproject.toml
  src/scitex/__version__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

feat(ci): Add installation tests for pre-release validation
  .github/workflows/test-install.yml
  Makefile
Due: none

feat(release): Add automated release pipeline and version sync tools
  .github/workflows/release.yml
  scripts/release/check_version_sync.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

fix(deps): Add direct llvmlite>=0.39.0 constraint for Python 3.11+
  CHANGELOG.md
  pyproject.toml
  src/scitex/__version__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

refactor: Factor out complex Makefile logic to scripts
  .github/workflows/test-install-modules.yml
  Makefile
  scripts/release/test_install.sh
  scripts/release/test_module.sh
Due: none

refactor: Centralize backward-compat modules in compat/ directory
  src/scitex/compat/__init__.py
  src/scitex/compat/_fig.py
  src/scitex/compat/_fts.py
  src/scitex/fig/__init__.py
  src/scitex/fts/__init__.py
  src/scitex/io/bundle/_FTS.py
  src/scitex/io/bundle/__init__.py
  src/scitex/io/bundle/_loader.py
  src/scitex/io/bundle/_mpl_helpers.py
  src/scitex/io/bundle/_saver.py
  src/scitex/io/bundle/_storage.py
  src/scitex/io/bundle/_validation.py
  src/scitex/io/bundle/kinds/_image/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

test: Add deprecation and backward compatibility tests
  tests/scitex/compat/__init__.py
  tests/scitex/compat/test_deprecation_warnings.py
Due: no-todos-in-commits, pytest-changed

feat(deps): Add missing module dependencies for isolated testing
  pyproject.toml
  scripts/test-module.sh
Due: none

docs: Consolidate visualization docs into docs/visualization/
  docs/architecture/ATOMIC_BUNDLE_PLAN.md
  docs/architecture/EXTENSION_MIGRATION_PLAN.md
  docs/architecture/FIG_TO_CANVAS_RENAME.md
  docs/architecture/FTS_RENAMING_PROPOSAL.md
  docs/architecture/RELATIONSHIP_WITH_FIGRECIPE.md
  docs/architecture/TERMINOLOGY_GUIDE.md
  docs/visualization/00_OVERVIEW.md
  docs/visualization/01_TERMINOLOGY.md
  docs/visualization/02_BUNDLE_FORMAT.md
  docs/visualization/03_MODULES.md
  src/scitex/plt/ATOMIC_BUNDLE_PLAN.md
  src/scitex/plt/RELATIONSHIP_WITH_FIGRECIPE.md
Due: none

feat(csv): Implement new figrecipe-compatible CSV column naming format
  src/scitex/io/bundle/_loader.py
  src/scitex/io/bundle/_mpl_helpers.py
  src/scitex/io/bundle/_saver.py
  src/scitex/plt/utils/_csv_column_naming.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

docs(visualization): Fix usage examples in terminology doc
  docs/visualization/01_TERMINOLOGY.md
Due: none

refactor(canvas): Rename position/size to xy_mm/size_mm
  docs/visualization/01_TERMINOLOGY.md
  src/scitex/canvas/__init__.py
Due: no-hardcoded-passwords, no-todos-in-commits, pytest-changed

Path conditions:
  no-hardcoded-passwords: any of: \.py$, but not: ^(tests/|examples/)
  no-todos-in-commits: any of: \.py$, but not: ^(\.old/|src/scitex/\.old/)
  pytest-changed: any of: \.py$
